body {
    background-color:rgb(138, 29, 138);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

article {
    text-align: justify;
}

.selfie {
    width: 15%;
}

a {
   text-align:left;
   color:white;
   text-decoration:none;
   line-height:2em;
}

a:hover {
    color:rgb(131, 236, 149);
}

i {
    color:rgb(60, 224, 60);
    position: relative;
    float:right;
}

per,p {
    line-height:200%;
}

h1,h2 {
    background-color: rgb(110, 109, 109);
    color:rgb(83, 219, 128);
    text-align:center;
}

h3 {
    text-align:center;
    color:rgb(83, 219, 128);
}

footer {
    background-color: rgb(110, 109, 109);
}

form {
    text-align:center;
}

